@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sorting" id="categories">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Slug
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Slug
                </td>
                <td>
                    <a asp-action="Update" class="btn btn-primary" asp-route-id="@item.Id">Update</a>
                    <a class="confirmDeletion btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("table#categories tbody").sortable({
            items: "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#categories tbody").sortable("serialize");
                let url = "/admin/categories/reorder";
                $.post(url, ids, function () { });
            }
        })
    </script>
}
